@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

body{
   background-color: #f3f3f3;
}


/* Cabeçalho */

header{
   display: flex;
   align-items: center;
   flex-direction: column;
   
}

header img{
   width: 100px;
   margin-top: 40px;
}

header h1{
   margin: 20px 40px;
   text-align: left; /* Mudei para center já que está em column */
   font-weight: 400;
   font-size: 1.7em;
   width: 85%;
   display: -webkit-box;
   line-clamp: 2;
   -webkit-box-orient: vertical;
   overflow: hidden;
   line-height: 1.3;
}

header input{
   background-color: rgb(224, 224, 224);
   width: 85%;
   height: 50px;
   border-radius: 5px;
   border: none;
   padding: 0 20px;
   font-size: .8em;
}

input::placeholder {
  color: #9c9c9c;
}

input:focus, textarea:focus {
    outline: none;
    border: 1px solid rgb(177, 177, 177);
    box-shadow: 0 0 2px rgba(95, 95, 95, 0.5);
   }

/* Menu de opções */

.opcoes {
   overflow-x: auto; /* Permite scroll horizontal */
   overflow-y: hidden;
   scrollbar-width: none; /* Firefox */
   -ms-overflow-style: none; /* IE e Edge */
}

.opcoes::-webkit-scrollbar {
   display: none; /* Chrome, Safari e Opera */ 
}

.opcoes ul {
   display: flex;
   justify-content: flex-start; /* Alinha itens à esquerda */
   flex-wrap: nowrap;
   margin-top: 20px;
   
}

li {
   list-style: none;
   flex-shrink: 0; /* Impede que os itens encolham */
}

.opcoes a {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   border-radius: 5px;
   background-color: #ff8787;
   width: 50px;
   height: 50px;
   margin-left: 10px;
}

.opcoes img {
   width: 27px;
   height: 27px;
}

/* Rodapé */

footer{
   position: fixed;
   bottom: 0;
   width: 100%;
   height: 45px;
   background-color: #ff4747;
   display: flex;
   justify-content: center;
   align-items: center;
}

footer a{
   color: white;
   text-decoration: none;
   font-size: .8em;
   display: flex;
   align-items: center;
   gap: 8px;
}

footer img{
   width: 20px;
   height: 20px;
}

